# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:
iris=pd.read_csv('C:\\Users\\MAHESH\\Downloads\\iris.data',header=None)

In [3]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### Step 4. Create columns for the dataset

In [4]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

In [5]:
iris.columns=['sepal_length','sepal_width','petal_length','petal_width','class']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [6]:
pd.isnull(iris).sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [7]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [8]:
iris.iloc[10:30,2:3]=np.nan
iris.head(20)

    sepal_length  sepal_width  petal_length  petal_width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           NaN          0.2  Iris-setosa
11           4.8          3.4           NaN          0.2  Iris-setosa
12           4.8          3.0           NaN          0.1  Iris-setosa
13           4.3          3.0           NaN          0.1  Iris-setosa
14           5.8          4.0           NaN          0.2  Iris-setosa
15           5.7          4.4           NaN          0.4  Iris-setosa
16           5.4          3.9           NaN          0.4  Iris-setosa
17           5.1          3.5           NaN          0.3  Iris-setosa
18           5.7          3.8           NaN          0.3  Iris-setosa
19           5.1          3.8           NaN          0.3  Iris-setosa

In [9]:
iris.loc[(iris.index<30)&(iris.index>9),['petal_length']]
iris.head(20)

    sepal_length  sepal_width  petal_length  petal_width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           NaN          0.2  Iris-setosa
11           4.8          3.4           NaN          0.2  Iris-setosa
12           4.8          3.0           NaN          0.1  Iris-setosa
13           4.3          3.0           NaN          0.1  Iris-setosa
14           5.8          4.0           NaN          0.2  Iris-setosa
15           5.7          4.4           NaN          0.4  Iris-setosa
16           5.4          3.9           NaN          0.4  Iris-setosa
17           5.1          3.5           NaN          0.3  Iris-setosa
18           5.7          3.8           NaN          0.3  Iris-setosa
19           5.1          3.8           NaN          0.3  Iris-setosa

In [10]:
iris['petal_length'][10:30]
iris.head(20)

    sepal_length  sepal_width  petal_length  petal_width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           NaN          0.2  Iris-setosa
11           4.8          3.4           NaN          0.2  Iris-setosa
12           4.8          3.0           NaN          0.1  Iris-setosa
13           4.3          3.0           NaN          0.1  Iris-setosa
14           5.8          4.0           NaN          0.2  Iris-setosa
15           5.7          4.4           NaN          0.4  Iris-setosa
16           5.4          3.9           NaN          0.4  Iris-setosa
17           5.1          3.5           NaN          0.3  Iris-setosa
18           5.7          3.8           NaN          0.3  Iris-setosa
19           5.1          3.8           NaN          0.3  Iris-setosa

In [11]:
iris['petal_length'].iloc[10:30]
iris.head(20)

    sepal_length  sepal_width  petal_length  petal_width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           NaN          0.2  Iris-setosa
11           4.8          3.4           NaN          0.2  Iris-setosa
12           4.8          3.0           NaN          0.1  Iris-setosa
13           4.3          3.0           NaN          0.1  Iris-setosa
14           5.8          4.0           NaN          0.2  Iris-setosa
15           5.7          4.4           NaN          0.4  Iris-setosa
16           5.4          3.9           NaN          0.4  Iris-setosa
17           5.1          3.5           NaN          0.3  Iris-setosa
18           5.7          3.8           NaN          0.3  Iris-setosa
19           5.1          3.8           NaN          0.3  Iris-setosa

### Step 7. Good, now lets substitute the NaN values to 1.0

In [12]:
iris.petal_length.fillna(1,inplace=True)
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

### Step 9.  Set the first 3 rows as NaN

In [13]:
iris.iloc[:3]=np.nan
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             NaN          NaN           NaN          NaN             NaN
1             NaN          NaN           NaN          NaN             NaN
2             NaN          NaN           NaN          NaN             NaN
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [14]:
iris.iloc[:3,:]=np.nan
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             NaN          NaN           NaN          NaN             NaN
1             NaN          NaN           NaN          NaN             NaN
2             NaN          NaN           NaN          NaN             NaN
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

### Step 10.  Delete the rows that have NaN

In [15]:
iris=iris.dropna(how='any')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa

### Step 11. Reset the index so it begins with 0 again

In [16]:
iris=iris.reset_index(drop=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.6          3.1           1.5          0.2  Iris-setosa
1           5.0          3.6           1.4          0.2  Iris-setosa
2           5.4          3.9           1.7          0.4  Iris-setosa
3           4.6          3.4           1.4          0.3  Iris-setosa
4           5.0          3.4           1.5          0.2  Iris-setosa

### BONUS: Create your own question and answer it.

In [17]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    147.000000   147.000000    147.000000   147.000000
mean       5.862585     3.050340      3.741497     1.219048
std        0.824971     0.436263      1.840520     0.757278
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.500000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [18]:
len(iris)

147

In [19]:
round(iris['sepal_length'].mean(),2)

5.86

In [20]:
iris['sepal_width'].nunique()

23

In [21]:
iris[['sepal_length','sepal_width']][:5]

   sepal_length  sepal_width
0           4.6          3.1
1           5.0          3.6
2           5.4          3.9
3           4.6          3.4
4           5.0          3.4

In [22]:
round(iris.sepal_length.mean())

6

In [23]:
round(iris.sepal_length.median())

6

In [24]:
round(iris.sepal_length.mode())

0    5.0
Name: sepal_length, dtype: float64

In [25]:
round(iris.sepal_length.var())

1

In [26]:
iris['petal_length'].value_counts(normalize=True)

1.0    0.136054
1.5    0.061224
4.5    0.054422
5.1    0.054422
1.4    0.047619
5.6    0.040816
4.0    0.034014
4.9    0.034014
4.7    0.034014
1.3    0.034014
5.0    0.027211
4.8    0.027211
4.4    0.027211
4.2    0.027211
6.1    0.020408
5.8    0.020408
4.1    0.020408
5.5    0.020408
3.9    0.020408
4.6    0.020408
5.7    0.020408
1.6    0.020408
5.3    0.013605
6.0    0.013605
6.7    0.013605
5.4    0.013605
5.9    0.013605
4.3    0.013605
3.5    0.013605
3.3    0.013605
5.2    0.013605
3.0    0.006803
3.7    0.006803
3.8    0.006803
6.6    0.006803
6.3    0.006803
3.6    0.006803
1.9    0.006803
6.9    0.006803
1.2    0.006803
6.4    0.006803
1.7    0.006803
Name: petal_length, dtype: float64

In [27]:
# display records only with species "Iris-setosa"

In [28]:
iris.loc[iris["class"] == "Iris-setosa"]

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.6          3.1           1.5          0.2  Iris-setosa
1            5.0          3.6           1.4          0.2  Iris-setosa
2            5.4          3.9           1.7          0.4  Iris-setosa
3            4.6          3.4           1.4          0.3  Iris-setosa
4            5.0          3.4           1.5          0.2  Iris-setosa
5            4.4          2.9           1.4          0.2  Iris-setosa
6            4.9          3.1           1.5          0.1  Iris-setosa
7            5.4          3.7           1.0          0.2  Iris-setosa
8            4.8          3.4           1.0          0.2  Iris-setosa
9            4.8          3.0           1.0          0.1  Iris-setosa
10           4.3          3.0           1.0          0.1  Iris-setosa
11           5.8          4.0           1.0          0.2  Iris-setosa
12           5.7          4.4           1.0          0.4  Iris-setosa
13           5.4          3.9           1.0          0.4  Iris-setosa
14           5.1          3.5           1.0          0.3  Iris-setosa
15           5.7          3.8           1.0          0.3  Iris-setosa
16           5.1          3.8           1.0          0.3  Iris-setosa
17           5.4          3.4           1.0          0.2  Iris-setosa
18           5.1          3.7           1.0          0.4  Iris-setosa
19           4.6          3.6           1.0          0.2  Iris-setosa
20           5.1          3.3           1.0          0.5  Iris-setosa
21           4.8          3.4           1.0          0.2  Iris-setosa
22           5.0          3.0           1.0          0.2  Iris-setosa
23           5.0          3.4           1.0          0.4  Iris-setosa
24           5.2          3.5           1.0          0.2  Iris-setosa
25           5.2          3.4           1.0          0.2  Iris-setosa
26           4.7          3.2           1.0          0.2  Iris-setosa
27           4.8          3.1           1.6          0.2  Iris-setosa
28           5.4          3.4           1.5          0.4  Iris-setosa
29           5.2          4.1           1.5          0.1  Iris-setosa
30           5.5          4.2           1.4          0.2  Iris-setosa
31           4.9          3.1           1.5          0.1  Iris-setosa
32           5.0          3.2           1.2          0.2  Iris-setosa
33           5.5          3.5           1.3          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
35           4.4          3.0           1.3          0.2  Iris-setosa
36           5.1          3.4           1.5          0.2  Iris-setosa
37           5.0          3.5           1.3          0.3  Iris-setosa
38           4.5          2.3           1.3          0.3  Iris-setosa
39           4.4          3.2           1.3          0.2  Iris-setosa
40           5.0          3.5           1.6          0.6  Iris-setosa
41           5.1          3.8           1.9          0.4  Iris-setosa
42           4.8          3.0           1.4          0.3  Iris-setosa
43           5.1          3.8           1.6          0.2  Iris-setosa
44           4.6          3.2           1.4          0.2  Iris-setosa
45           5.3          3.7           1.5          0.2  Iris-setosa
46           5.0          3.3           1.4          0.2  Iris-setosa

In [29]:
# show null value if present in dataset....if present show true ow show false

In [30]:
iris.isnull()

     sepal_length  sepal_width  petal_length  petal_width  class
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False        False  False
3           False        False         False        False  False
4           False        False         False        False  False
..            ...          ...           ...          ...    ...
142         False        False         False        False  False
143         False        False         False        False  False
144         False        False         False        False  False
145         False        False         False        False  False
146         False        False         False        False  False

[147 rows x 5 columns]

In [31]:
# if null value present then show the show of those null value

In [32]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64